<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
        form{
            margin: 50px auto;
            width: fit-content;
        }

        .error{
            color: red;
            font-family: sans-serif;
            font-size: small;
        }

        label{
            display: flex;
            justify-content: space-between;
            width: 300px;
        }

        .bottom{
            text-align: center;
            width: 300px;
        }
    </style>
</head>
<body>
    <%- include('header') %>
    <form method="post">
        <label for="fname">
            <span>First Name</span>
            <input type="text" name="fname" id="fname" <%= values.fname ? `value = ${values.fname}` : ''%>>
        </label>
        <br>
        <label for="lname">
            <span>Last Name</span>
            <input type="text" name="lname" id="lname" <%= values.lname ? `value = ${values.lname}` : ''%>>
        </label>
        <br>
        <label for="email">
            <span>Email</span>
            <input type="text" name="email" id="email" <%= values.email ? `value = ${values.email}` : ''%>>
        </label>
        <br>
        <label for="username">
            <span>Username</span>
            <input type="text" name="username" id="username" <%= values.username ? `value = ${values.username}` : ''%>>
        </label>
        <br>
        
        <p class="error"><%= values.error ?? '' %></p>

        <p>
            <%- values.uniqueCode ? 'Copy below link for setting up password, <br> link is valid only for 5 minutes' : ''%>
        </p>
        <p>
            <%= values.uniqueCode ?? '' %>
        </p>

        <div class="bottom">
            <input type="submit" value="Register"/>
        </div>
    </form>
</body>
</html>