<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Master</title>
    <style>
        a{
            text-decoration: none;
        }
        .asc{
            rotate: -90deg;
            display: block;
        }
        
        .desc{
            rotate: 90deg;
            display: block;
        }

        th > div{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
        }

        .selected{
            border: 1px solid red;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Student Records</h1>
    <h2>Aryaman Karde (DEV072)</h2>
    <table border="1" cellpadding="10">
        <tr>
            <% fields.forEach((f) => {
                if(f.name in mapping){%>
                    <th>
                        <div>
                        <%=mapping[f.name]%>
                        <span>
                            <a href="?sort=<%= mapping[f.name]%>&value=asc" class="asc <% if(fieldName == f.name && sortValue == 'asc') {%><%="selected"%><%}%>">></a>
                            <a href="?sort=<%= mapping[f.name]%>&value=desc" class="desc <% if(fieldName == f.name && sortValue == 'desc') {%><%="selected"%><%}%>">></a>
                        </span>
                        </div>
                    </th>
            <% }}) %>
        </tr>

        <% results.forEach((r) => {%>
            <tr>
            <%for(let key in mapping){%>
                <td>
                    <% if(r[key] instanceof Date){ %> <%=r[key].toLocaleDateString()%> <% }else{ %> <%=r[key]%> <%}%>
                </td>
            <%}%>
            </tr>
        <%})%>
    </table>
    <p>
        <%= `Total students are ${total}` %>
    </p>
    <div>
        <a id="firstElement" <% if(firstPage) {%> href="?p=<%=firstPage%>&<%= queryString%>"<%}%> > << </a>
        <a id="prevElement" <% if(prevPage) {%> href="?p=<%=prevPage%>&<%= queryString%>"<%}%> > < </a>
        <a id="theElement"><%= currentPage%></a>
        <a id="nextElement" <% if(nextPage) {%> href="?p=<%=nextPage%>&<%= queryString%>"<%}%> > > </a>
        <a id="lastElement" <% if(lastPage) {%> href="?p=<%=lastPage%>&<%= queryString%>"<%}%> > >> </a>
    </div>
</body>
</html>